<div class="container">
  <div class="user-details">
    <h3> Mein Profil </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-java-plain colored "></i>
      <i class="devicon-nodejs-plain colored"></i>
      <p>Als Applikationsentwickler arbeite ich sehr gerne mit C# und Java. C++, als Urpsrung dieser beiden Sprachen interessiert mich ebenfalls sehr stark.</p>
    </div>
    <div class="four columns">
      <h4>Code</h4>
      <i class="devicon-java-plain colored  "></i>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-nodejs-plain colored"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
    <div class="four columns">
      <h4>Tools</h4>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
        Vinyl XOXO lumbersexual</p>
    </div>
  </div>
</div>
