<div class="user-details">
  <h1> About Us </h1>
  <p> {{site.user_description}} </p>
</div>

</div>
<div class="user">
  <div class="about-card">
    <div class="container">
      <h2>Level Up</h2>
    </div>
    <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
    <img class="photos" src="assets/img/Screenshot_20210707_022645.png" alt="" style="width: 100%">
    <h4><b>John Doe</b></h4>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>

  <div class="about-card">
    <div class="container">
      <h2>Workshops</h2>
    </div>
    <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
    <img class="photos" src="assets/img/Screenshot_20210707_022645.png" alt="" style="width: 100%">
    <h4><b>John Doe</b></h4>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
  <!-- <a href="https://www.google.com"> -->
  <div class="about-card">
    <div class="container">
      <h2>Competitions</h2>
    </div>
    <!-- <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i> -->
    <img class="photos" src="assets/img/Screenshot_20210707_022645.png" alt="" style="width: 100%">
    <h4><b>John Doe</b></h4>
    <p>Mumblecore hexagon kombucha, pitchfork four loko raclette intelligentsia master cleanse.
      Vinyl XOXO lumbersexual</p>
  </div>
<!-- </a> -->
</div>