<div class="user-details">
    <h1> Contact Us</h1>
    <!-- <div class="contents"> -->
    <p> {{site.user_description}} {{site.user_description}}</p>
    <!-- </div> -->
    <!-- <div class="images-left">
    <img alt="mountains" src="{{ " /assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
    <!-- <div class="contents-right"> -->
</div>
<div class="inline-display">
    <div class="inlining">
        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLScTsmDrU5Xw_9SBtpHj4jWmBGP7lTL2QhK7zhzJWswOmhIl7w/viewform?embedded=true" width="640" height="601" frameborder="0" marginheight="0" marginwidth="0" class="formatting-embedded">Loading…</iframe>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.2169380852533!2d78.56958165001977!3d17.544855202804417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb835ea819f7f7%3A0xf65eaaa5a110605f!2sBirla%20Institute%20of%20Technology%20and%20Science%2C%20Pilani-%20Hyderabad%20campus!5e0!3m2!1sen!2sin!4v1625626420988!5m2!1sen!2sin"
            width="500" height="600" style="border:0;" allowfullscreen="" loading="lazy" class="formatting-embedded"></iframe>

    </div>
    <div class="user-details">
        <a class="project-link" href="#">Button</a>
    </div>
</div>