<div class="user-details">
    <h1> Contact Us</h1>
    <!-- <div class="contents"> -->
    <p> {{site.user_description}} {{site.user_description}}</p>
    <!-- </div> -->
    <!-- <div class="images-left">
    <img alt="mountains" src="{{ " /assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div> -->
    <!-- <div class="contents-right"> -->
</div>
<div class="inline-display">
    <div class="inlining">
        <iframe
            src="https://docs.google.com/forms/d/e/1FAIpQLSedhWIc-zEutXIz4DeAfiFIEc6XJAT1yuupTk63ZkjFU4iPfg/viewform?embedded=true"
            width="500" height="615" frameborder="0" marginheight="0" marginwidth="0"
            class="formatting-embedded-form">Sign up for Newsletter</iframe>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3804.2161257027315!2d78.56964395001978!3d17.544893902803366!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb83594a86132d%3A0xc3e06e9e76cebf3d!2sBirla%20Institute%20of%20Technology%20%26%20Science%20Pilani%2C%20Hyderabad%20Campus!5e0!3m2!1sen!2sin!4v1625693483685!5m2!1sen!2sin"
            width="500" height="435" style="border:0;" class="formatting-embedded" allowfullscreen=""
            loading="lazy"></iframe>
    </div>
</div>
<!-- <div class="user-details">
    <a class="project-link" href="">Button</a>
</div> -->