<div class="user-details">
  <h1> Pizzaiolos </h1>
<p>Conheça um pouco mais das vozes que você está escutando.</p>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="foto da Lele Portella" src="{{site.lele_photo}}" />
  </div>
  <div class="contents">
    <h3> Letícia Portella </h3>
    <p>Oceanógrafa por formação e desenvolvedora por vocação assumiu o chapéu de cientista de dados oficialmente ao começar a trabalhar na Softplan, mas desde a faculdade vem analisando dados e criou o DataScience.Pizza o maior repositório com conteúdo sobre ciência de dados em português.</p>
    <a class="project-link" href="https://leportella.com">Site</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="foto da Jess Temporal" src="{{ site.jess_photo }}" />
  </div>
  <div class="contents-right">
    <h3> Jessica Temporal </h3>
    <p> Informata Biomédica começou analisando dados genômicos e flertou com processamento de linguagem natural durante a faculdade. Hoje, se destaca pela participação como mantenedora do projeto Operação Serenata de Amor, desenvolvedora e cientista de dados na Nuveo.</p>
    <a class="project-link" href="https://jtemporal.com">Site</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="foto do Gust Coelho" src="{{site.gust_photo}}" />
  </div>
  <div class="contents">
    <h3> Gustavo Coelho </h3>
    <p>Formado em economia, atualmente trabalha em consultoria de gestão pública e quer fazer ciência reprodutível usando Python e para isso tem aprimorado seus conhecimentos na área em busca de fazer algo sempre melhor. Seus sonho é aprender/aplicar Desenho de Mecanismos.</p>
    <a class="project-link" href="https://gusrabbit.com">Site</a>
  </div>
<div class="user-details">
<br><br>
<p>Esse grupo diverso estuda ciência de dados para salvar o mundo!</p>
  </div>
</div>
