<div class="user-details">
  <h1>Pizzaiolos</h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="max-width: 30%;"alt="foto da lele portella" src="{{site.lele_photo}} | prepend: site.baseurl" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Oceanógrafa por formação e desenvolvedora por vocação assumiu o chapéu de cientista de dados oficialmente ao começar a trabalhar na Softplan, mas desde a faculdade vem analisando dados e criou o DataScience.Pizza o maio r repositório com conteúdo sobre ciência de dados em português.</p>
    <a class="project-link" href="https://leportella.com">Site</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img style="max-width: 30%;" alt="foto da lele portella" src="{{site.lele_photo}} | prepend: site.baseurl" />
  </div>
  <div class="contents">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Oceanógrafa por formação e desenvolvedora por vocação assumiu o chapéu de cientista de dados oficialmente ao começar a trabalhar na Softplan, mas desde a faculdade vem analisando dados e criou o DataScience.Pizza o maio r repositório com conteúdo sobre ciência de dados em português.</p>
    <a class="project-link" href="https://leportella.com">Site</a>
  </div>
</div>
