<div class="user-details">
  <h1> Pizzaiolos </h1>
<p>Conheça um pouco mais das vozes que você está escutando.</p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Leticia Portella</h2>
    <img alt="foto da Lele Portella" src="https://pbs.twimg.com/profile_images/1070014470347468800/ILFx1fxj_400x400.jpg" />
    <p>Oceanógrafa por formação e desenvolvedora por vocação assumiu o chapéu de cientista de dados oficialmente ao começar a trabalhar na Softplan, mas desde a faculdade vem analisando dados e criou o DataScience.Pizza o maior repositório com conteúdo sobre ciência de dados em português.</p>
      <center><p><a class="project-link" href="https://leportella.com">Site</a></p></center>
    </div>
    <div class="tech">
      <h2>Jessica Temporal</h2>
      <img alt="foto da Jess Temporal" src="{{ site.jess_photo }}" />
      <p>Informata Biomédica começou analisando dados genômicos e flertou com processamento de linguagem natural durante a faculdade. Hoje, se destaca pela participação como mantenedora do projeto Operação Serenata de Amor, desenvolvedora e cientista de dados na Nuveo.</p>
      <center><p><a class="project-link" href="https://jtemporal.com">Site</a></p><center>
    </div>
    <div class="tech">
      <h2>Gustavo Coelho</h2>
      <img alt="foto da Gust Coelho" src="{{ site.gust_photo }}" />
      <p>Formado em economia, atualmente trabalha em consultoria de gestão pública e quer fazer ciência reprodutível usando Python e para isso tem aprimorado seus conhecimentos na área em busca de fazer algo sempre melhor. Seus sonho é aprender/aplicar Desenho de Mecanismos.</p>
      <center><p><a class="project-link" href="https://gusrabbit.com">Site</a></p></center>
    </div>
</div>
<div class="user-details">
    <p>Esse grupo diverso estuda ciência de dados para salvar o mundo!</p>
</div>
