<div class="container">
  <span class="user-details">
    <h3> Featured Projects </h3>
  </span>
  <div class="row user-projects">
    <div class="six columns images">
      <img alt="mountains" src="../assets/img/mountains.jpg" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <li> Featured Skills</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
  <div class="row user-projects">
    <div class="six columns">
      <img alt="mountains" src="../assets/img/skate.jpg" />
    </div>
    <div class="six columns">
      <h5> Project Title </h5>
      <li> Featured Skills</li>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      <a class="project-link" href="#">Check it out</a>
    </div>
  </div>
</div>
