<div class="user-details">
    <h1> Featured Projects </h1>
</div>
<div class="inline-display">
    <div class="card">
        <img src="assets/img/img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
            <div class="header-icons-small">
                <a aria-label="Send email" href="mailto:arc@hyderabad.bits-pilani.ac.in"><i
            class="icon-small fa fa-envelope"></i></a>
                <a aria-label="My Github" target="_blank" href="https://github.com/arc-bphc"><i
            class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
                <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/automationandroboticsclub"><i
            class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
            <div class="header-icons-small">
                <a aria-label="Send email" href="mailto:arc@hyderabad.bits-pilani.ac.in"><i
            class="icon-small fa fa-envelope"></i></a>
                <a aria-label="My Github" target="_blank" href="https://github.com/arc-bphc"><i
            class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
                <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/automationandroboticsclub"><i
            class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
    <div class="card">
        <img src="assets/img/img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
            <div class="header-icons-small">
                <a aria-label="Send email" href="mailto:arc@hyderabad.bits-pilani.ac.in"><i
            class="icon-small fa fa-envelope"></i></a>
                <a aria-label="My Github" target="_blank" href="https://github.com/arc-bphc"><i
            class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
                <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/automationandroboticsclub"><i
            class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
    <div class="card">
        <img src="assets/img/img_avatar.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h4><b>John Doe</b></h4>
            <p>Architect & Engineer</p>
            <div class="header-icons-small">
                <a aria-label="Send email" href="mailto:arc@hyderabad.bits-pilani.ac.in"><i
            class="icon-small fa fa-envelope"></i></a>
                <a aria-label="My Github" target="_blank" href="https://github.com/arc-bphc"><i
            class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
                <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/automationandroboticsclub"><i
            class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
            </div>
        </div>

    </div>
</div>