<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/JS-Game-SCT.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> JS-Game </h3>
    <ul>
      <li> Customizable Asteroids game</li>
    </ul>
    <p>JS-Game is a asteroids copy I made to learn how to program and use Github, now that I finished it I have decided to take my time to
    change the game up and add my own features.</p>
    <a class="project-link" href="https://github.com/CambrianNode/JS-Game">Check it out</a>
  </div>
</div>
</div>
