<div class="user-details">
    <h1> Our Team </h1>
</div>
{% assign min = 45 %}
{% assign max = 80 %}
{% assign diff = max | minus: min %}
{% assign randomNumber = "now" | date: "%N" | modulo: diff | plus: min %}


<div class="user">
    <div class="card">
        <img src="https://github.com/TextZip.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h3><b>Jai Krishna</b></h3>
            <p>Some Intro</p>
        </div>
        <div class="header-icons-small">
            <a aria-label="Send email" href="mailto:textzip@gmail.com"><i
                    class="icon-small fa fa-envelope"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/TextZip"><i
                    class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/jai.krishna.7982"><i
                    class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card">
        <img src="https://github.com/adeecc.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h3><b>Aditya Chopra</b></h3>
            <p>Some Intro</p>
        </div>

        <div class="header-icons-small">
            <a aria-label="Send email" href="mailto:arc@hyderabad.bits-pilani.ac.in"><i
                    class="icon-small fa fa-envelope"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/adeecc"><i
                    class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/adico11"><i
                    class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card">
        <img src="https://github.com/Utkarsh0902.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h3><b>Utkarsh Jain</b></h3>
            <p>Some Intro</p>
        </div>
        <div class="header-icons-small">
            <a aria-label="Send email" href="mailto:arc@hyderabad.bits-pilani.ac.in"><i
                    class="icon-small fa fa-envelope"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/Utkarsh0902"><i
                    class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/utkarsh.jain.5070"><i
                    class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="card">
        <img src="https://github.com/prasadboi.png" alt="Avatar" style="width:100%">
        <div class="container">
            <h3><b>Arjun Prasad</b></h3>
            <p>Some Intro</p>
        </div>
        <div class="header-icons-small">
            <a aria-label="Send email" href="mailto:arc@hyderabad.bits-pilani.ac.in"><i
                    class="icon-small fa fa-envelope"></i></a>
            <a aria-label="My Github" target="_blank" href="https://github.com/prasadboi"><i
                    class="icon-small fa fa-github-alt" aria-hidden="true"></i></a>
            <a aria-label="My Facebook" target="_blank" href="https://www.facebook.com/profile.php?id=100037727361589"><i
                    class="icon-small fa fa-facebook-square" aria-hidden="true"></i></a>
        </div>
    </div>
</div>