 <div class="user-details">
  <h1> Uma pizza tamanho família </h1>
  <p> Gratidão! </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Assine</h2>
      <p>Dá pra escutar o Pizza em diversas plataformas! Escolha a sua preferida ;)</p>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
    </div>
    <div class="tech">
      <h2>Apoie</h2>
      <p>Nós temos uma campanha de financiamento recorrente para ajudar a pagar a edição dos episódios. Se você gosta do nosso trabalho considere nos pagar um café ;)</p>
      <center><p><a class="project-link" href="https://apoia.se/pizzadedados">Para a campanha</a></p></center>
    </div>
    <div class="tech">
      <h2>Parceiros</h2>
      <p>Data Bootcamp, o maior bootcamp de Data Science do Brasil! Aprenda a organizar, extrair e interpretar os dados da sua empresa com as tecnologias mais avançadas usadas no mercado.</p>
      <img src="https://databootcamp.com.br/static/img/logo.png" style="background: #1f2845;"/>
    </div>
</div>
