$main: #1a222c;
$sec: #FFF;
$cut: 37.5rem;

body {
  margin: 0;
}

#particles-js {
  background: $main;
  position: absolute;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
}

.content {
  text-align: center;
  color:$sec;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  .site-title {
    font-size: 60px;
    display: block;
    line-height: 1;
    @media only screen and (min-width:$cut){
      margin: 0;
      font-size: 100px;
    }
  }
  .site-description {
    font-size: 20px;
    display: block;
    line-height: 1;
    margin: 5px 0 10px 0;
    @media only screen and (min-width:$cut){
      font-size: 40px;
    }
  }
  .icon {
    color: $sec;
    width: 18px;
    height: 18px;
    padding: 15px;
    margin: 2px;
    border-radius: 50px;
    border: 2px solid $sec;
    line-height: 0;
    transition: all .7s;
    &:hover {
      background: $sec;
    }
    @media only screen and (min-width:$cut) {
      width: 30px;
      height: 30px;
    }
  }
  .link {
    color: $sec;
    display: inline-flex;
    justify-content: center;
    text-decoration: none;
    font-size: 15px;
    line-height: 1;
    margin: 30px 20px;
    @media only screen and (min-width:$cut){
      font-size: 20px;
    }
  }
}
