<!DOCTYPE html>
<html lang="en">
  {% include head.html %}
  <body>
      {% include header.html %}
      <section id="about">
        {% include about.html %}
      </section>
      <section id="about">
        {% include pizzaiolosw.html %}
      </section>
      <section id="projects">
        {% include pizzaiolos.html %}
      </section>
      <section id="about">
        {% include vemcomagente.html %}
      </section>
        {{ content }}
      {% include footer.html %}
  </body>
